In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Sustainability Hackathon Dataset.csv')
df

,Country Name,Country Code,Year,Access to electricity (% of population) - EG.ELC.ACCS.ZS,Adjusted net national income per capita (annual % growth) - NY.ADJ.NNTY.PC.KD.ZG,"Adjusted net savings, excluding particulate emission damage (% of GNI) - NY.ADJ.SVNX.GN.ZS",Adjusted savings: carbon dioxide damage (% of GNI) - NY.ADJ.DCO2.GN.ZS,Adjusted savings: natural resources depletion (% of GNI) - NY.ADJ.DRES.GN.ZS,Adjusted savings: net forest depletion (% of GNI) - NY.ADJ.DFOR.GN.ZS,Adjusted savings: particulate emission damage (% of GNI) - NY.ADJ.DPEM.GN.ZS,...,Gini index (World Bank estimate) - SI.POV.GINI,Income Classification (World Bank Definition),Individuals using the Internet (% of population) - IT.NET.USER.ZS,"Life expectancy at birth, total (years) - SP.DYN.LE00.IN","Population, total - SP.POP.TOTL",Regime Type (RoW Measure Definition),Rural population (% of total population) - SP.RUR.TOTL.ZS,Total natural resources rents (% of GDP) - NY.GDP.TOTL.RT.ZS,Urban population (% of total population) - SP.URB.TOTL.IN.ZS,World Regions (UN SDG Definition)
0,Aruba,ABW,2000,91.660398,NaN,15.392211,2.389134,0.000190,0.000190,NaN,...,NaN,High income,NaN,NaN,NaN,NaN,53.283,NaN,NaN,Latin America and Caribbean
1,Aruba,ABW,2001,100.000000,NaN,11.491930,2.509046,0.000214,0.000214,NaN,...,NaN,High income,17.100000,73.853,92892.0,NaN,53.661,0.000712,46.339,Latin America and Caribbean
2,Aruba,ABW,2002,100.000000,NaN,3.893620,2.721385,0.000223,0.000223,NaN,...,NaN,High income,18.800000,73.937,94992.0,NaN,54.028,0.000657,45.972,Latin America and Caribbean
3,Aruba,ABW,2003,100.000000,NaN,6.713863,2.733676,0.000243,0.000243,NaN,...,NaN,High income,20.800000,74.038,97016.0,NaN,54.394,0.000700,45.606,Latin America and Caribbean
4,Aruba,ABW,2004,100.000000,NaN,9.801576,2.678363,0.000256,0.000256,NaN,...,NaN,High income,23.000000,74.156,98744.0,NaN,54.760,0.000685,45.240,Latin America and Caribbean
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,Zimbabwe,ZWE,2014,32.300000,0.763955,-14.094023,2.310859,1.573499,0.000000,1.426705,...,NaN,Low income,16.364740,58.410,13586710.0,Electoral Autocracy,67.496,5.531514,32.504,Sub-Saharan Africa
3283,Zimbabwe,ZWE,2015,33.700000,10.749009,-18.882831,2.381654,0.844003,0.000000,1.492774,...,NaN,Low income,22.742818,59.534,13814642.0,Electoral Autocracy,67.615,4.561981,32.385,Sub-Saharan Africa
3284,Zimbabwe,ZWE,2016,39.676228,-0.716048,-11.199213,2.101249,0.823740,0.000000,1.496494,...,NaN,Low income,23.119989,60.294,14030338.0,Electoral Autocracy,67.704,4.473632,32.296,Sub-Saharan Africa
3285,Zimbabwe,ZWE,2017,40.144283,28.172572,-12.700238,2.102515,1.300127,0.000000,1.422511,...,44.3,Low income,24.400000,60.812,14236599.0,Electoral Autocracy,67.763,4.844665,32.237,Sub-Saharan Africa
3286,Zimbabwe,ZWE,2018,40.616360,61.556580,NaN,2.003068,2.085152,0.000000,1.422511,...,NaN,Low income,25.000000,61.195,14438812.0,Electoral Autocracy,67.791,4.363782,32.209,Sub-Saharan Africa

In [3]:
df.columns

Index(['Country Name', 'Country Code', 'Year',
       'Access to electricity (% of population) - EG.ELC.ACCS.ZS',
       'Adjusted net national income per capita (annual % growth) - NY.ADJ.NNTY.PC.KD.ZG',
       'Adjusted net savings, excluding particulate emission damage (% of GNI) - NY.ADJ.SVNX.GN.ZS',
       'Adjusted savings: carbon dioxide damage (% of GNI) - NY.ADJ.DCO2.GN.ZS',
       'Adjusted savings: natural resources depletion (% of GNI) - NY.ADJ.DRES.GN.ZS',
       'Adjusted savings: net forest depletion (% of GNI) - NY.ADJ.DFOR.GN.ZS',
       'Adjusted savings: particulate emission damage (% of GNI) - NY.ADJ.DPEM.GN.ZS',
       'Automated teller machines (ATMs) (per 100,000 adults) - FB.ATM.TOTL.P5',
       'Broad money (% of GDP) - FM.LBL.BMNY.GD.ZS',
       'Children out of school (% of primary school age) - SE.PRM.UNER.ZS',
       'Compulsory education, duration (years) - SE.COM.DURS',
       'Cost of business start-up procedures, female (% of GNI per capita) - IC.REG.COST.PC.FE.ZS',
       'Cost of business start-up procedures, male (% of GNI per capita) - IC.REG.COST.PC.MA.ZS',
       'Exports of goods and services (% of GDP) - NE.EXP.GNFS.ZS',
       'Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS',
       'GDP (current US$) - NY.GDP.MKTP.CD',
       'GDP per capita (current US$) - NY.GDP.PCAP.CD',
       'General government final consumption expenditure (% of GDP) - NE.CON.GOVT.ZS',
       'Gross national expenditure (% of GDP) - NE.DAB.TOTL.ZS',
       'Gross savings (% of GDP) - NY.GNS.ICTR.ZS',
       'Imports of goods and services (% of GDP) - NE.IMP.GNFS.ZS',
       'Inflation, consumer prices (annual %) - FP.CPI.TOTL.ZG',
       'Primary completion rate, total (% of relevant age group) - SE.PRM.CMPT.ZS',
       'Proportion of seats held by women in national parliaments (%) - SG.GEN.PARL.ZS',
       'Pupil-teacher ratio, primary - SE.PRM.ENRL.TC.ZS',
       'Renewable electricity output (% of total electricity output) - EG.ELC.RNEW.ZS',
       'Renewable energy consumption (% of total final energy consumption) - EG.FEC.RNEW.ZS',
       'School enrollment, preprimary (% gross) - SE.PRE.ENRR',
       'School enrollment, primary (% gross) - SE.PRM.ENRR',
       'School enrollment, secondary (% gross) - SE.SEC.ENRR',
       'Trade (% of GDP) - NE.TRD.GNFS.ZS',
       'Women Business and the Law Index Score (scale 1-100) - SG.LAW.INDX',
       'Prevalence of undernourishment (%) - SN_ITK_DEFC - 2.1.1',
       'Proportion of population below international poverty line (%) - SI_POV_DAY1 - 1.1.1',
       'Proportion of population covered by at least a 2G mobile network (%) - IT_MOB_2GNTWK - 9.c.1',
       'Proportion of population covered by at least a 3G mobile network (%) - IT_MOB_3GNTWK - 9.c.1',
       'Proportion of population using basic drinking water services (%) - SP_ACS_BSRVH2O - 1.4.1',
       'Unemployment rate, male (%) - SL_TLF_UEM - 8.5.2',
       'Unemployment rate, women (%) - SL_TLF_UEM - 8.5.2',
       'Annual production-based emissions of carbon dioxide (CO2), measured in million tonnes',
       'Continent', 'Gini index (World Bank estimate) - SI.POV.GINI',
       'Income Classification (World Bank Definition)',
       'Individuals using the Internet (% of population) - IT.NET.USER.ZS',
       'Life expectancy at birth, total (years) - SP.DYN.LE00.IN',
       'Population, total - SP.POP.TOTL',
       'Regime Type (RoW Measure Definition)',
       'Rural population (% of total population) - SP.RUR.TOTL.ZS',
       'Total natural resources rents (% of GDP) - NY.GDP.TOTL.RT.ZS',
       'Urban population (% of total population) - SP.URB.TOTL.IN.ZS',
       'World Regions (UN SDG Definition)'],
      dtype='object')

In [8]:
selected_columns = ['Country Name', 'Country Code', 'Year', 'Continent', 'World Regions (UN SDG Definition)',
                    'Regime Type (RoW Measure Definition)', 'Population, total - SP.POP.TOTL', 
                    'Access to electricity (% of population) - EG.ELC.ACCS.ZS', 
                    'Automated teller machines (ATMs) (per 100,000 adults) - FB.ATM.TOTL.P5',
                    'Cost of business start-up procedures, female (% of GNI per capita) - IC.REG.COST.PC.FE.ZS', 
                    'Cost of business start-up procedures, male (% of GNI per capita) - IC.REG.COST.PC.MA.ZS',
                    'GDP (current US$) - NY.GDP.MKTP.CD', 'GDP per capita (current US$) - NY.GDP.PCAP.CD',
                    'Renewable electricity output (% of total electricity output) - EG.ELC.RNEW.ZS',
                    'Renewable energy consumption (% of total final energy consumption) - EG.FEC.RNEW.ZS',
                    'Proportion of population covered by at least a 2G mobile network (%) - IT_MOB_2GNTWK - 9.c.1',
                    'Proportion of population covered by at least a 3G mobile network (%) - IT_MOB_3GNTWK - 9.c.1',
                    'Unemployment rate, male (%) - SL_TLF_UEM - 8.5.2',
                    'Unemployment rate, women (%) - SL_TLF_UEM - 8.5.2',
                    'Gini index (World Bank estimate) - SI.POV.GINI',
                    'Income Classification (World Bank Definition)',
                    'Individuals using the Internet (% of population) - IT.NET.USER.ZS']

In [9]:
len(selected_columns)

22

In [10]:
df2 = df[selected_columns]
df2

,Country Name,Country Code,Year,Continent,World Regions (UN SDG Definition),Regime Type (RoW Measure Definition),"Population, total - SP.POP.TOTL",Access to electricity (% of population) - EG.ELC.ACCS.ZS,"Automated teller machines (ATMs) (per 100,000 adults) - FB.ATM.TOTL.P5","Cost of business start-up procedures, female (% of GNI per capita) - IC.REG.COST.PC.FE.ZS",...,GDP per capita (current US$) - NY.GDP.PCAP.CD,Renewable electricity output (% of total electricity output) - EG.ELC.RNEW.ZS,Renewable energy consumption (% of total final energy consumption) - EG.FEC.RNEW.ZS,Proportion of population covered by at least a 2G mobile network (%) - IT_MOB_2GNTWK - 9.c.1,Proportion of population covered by at least a 3G mobile network (%) - IT_MOB_3GNTWK - 9.c.1,"Unemployment rate, male (%) - SL_TLF_UEM - 8.5.2","Unemployment rate, women (%) - SL_TLF_UEM - 8.5.2",Gini index (World Bank estimate) - SI.POV.GINI,Income Classification (World Bank Definition),Individuals using the Internet (% of population) - IT.NET.USER.ZS
0,Aruba,ABW,2000,North America,Latin America and Caribbean,NaN,NaN,91.660398,NaN,NaN,...,20617.750470,0.000000,0.175300,NaN,NaN,NaN,NaN,NaN,High income,NaN
1,Aruba,ABW,2001,North America,Latin America and Caribbean,NaN,92892.0,100.000000,NaN,NaN,...,20670.367010,0.000000,0.180500,NaN,NaN,NaN,NaN,NaN,High income,17.100000
2,Aruba,ABW,2002,North America,Latin America and Caribbean,NaN,94992.0,100.000000,NaN,NaN,...,20436.887130,0.000000,0.181400,NaN,NaN,NaN,NaN,NaN,High income,18.800000
3,Aruba,ABW,2003,North America,Latin America and Caribbean,NaN,97016.0,100.000000,NaN,NaN,...,20833.976360,0.000000,0.184600,NaN,NaN,NaN,NaN,NaN,High income,20.800000
4,Aruba,ABW,2004,North America,Latin America and Caribbean,NaN,98744.0,100.000000,NaN,NaN,...,22568.374990,0.000000,0.187100,NaN,NaN,NaN,NaN,NaN,High income,23.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,Zimbabwe,ZWE,2014,Africa,Sub-Saharan Africa,Electoral Autocracy,13586710.0,32.300000,6.034256,120.0,...,1434.896277,55.605426,80.775002,88.00,53.00,4.4,5.2,NaN,Low income,16.364740
3283,Zimbabwe,ZWE,2015,Africa,Sub-Saharan Africa,Electoral Autocracy,13814642.0,33.700000,7.157096,118.4,...,1445.069702,52.724276,81.427200,88.70,55.10,NaN,NaN,NaN,Low income,22.742818
3284,Zimbabwe,ZWE,2016,Africa,Sub-Saharan Africa,Electoral Autocracy,14030338.0,39.676228,7.073321,121.5,...,1464.588957,NaN,82.792603,88.90,55.25,NaN,NaN,NaN,Low income,23.119989
3285,Zimbabwe,ZWE,2017,Africa,Sub-Saharan Africa,Electoral Autocracy,14236599.0,40.144283,6.889214,110.0,...,1335.665064,NaN,83.492996,90.09,78.20,NaN,NaN,44.3,Low income,24.400000
3286,Zimbabwe,ZWE,2018,Africa,Sub-Saharan Africa,Electoral Autocracy,14438812.0,40.616360,6.625208,110.7,...,1352.162653,NaN,81.363602,93.00,84.00,NaN,NaN,NaN,Low income,25.000000

In [20]:
df2.dtypes

Country Name                                                                                     object
Country Code                                                                                     object
Year                                                                                              int64
Continent                                                                                        object
World Regions (UN SDG Definition)                                                                object
Regime Type (RoW Measure Definition)                                                             object
Population, total - SP.POP.TOTL                                                                 float64
Access to electricity (% of population) - EG.ELC.ACCS.ZS                                        float64
Automated teller machines (ATMs) (per 100,000 adults) - FB.ATM.TOTL.P5                          float64
Cost of business start-up procedures, female (% of GNI per capita) - IC.REG.COST.PC.FE.ZS       float64
Cost of business start-up procedures, male (% of GNI per capita) - IC.REG.COST.PC.MA.ZS         float64
GDP (current US$) - NY.GDP.MKTP.CD                                                              float64
GDP per capita (current US$) - NY.GDP.PCAP.CD                                                   float64
Renewable electricity output (% of total electricity output) - EG.ELC.RNEW.ZS                   float64
Renewable energy consumption (% of total final energy consumption) - EG.FEC.RNEW.ZS             float64
Proportion of population covered by at least a 2G mobile network (%) - IT_MOB_2GNTWK - 9.c.1    float64
Proportion of population covered by at least a 3G mobile network (%) - IT_MOB_3GNTWK - 9.c.1    float64
Unemployment rate, male (%) - SL_TLF_UEM - 8.5.2                                                float64
Unemployment rate, women (%) - SL_TLF_UEM - 8.5.2                                               float64
Gini index (World Bank estimate) - SI.POV.GINI                                                  float64
Income Classification (World Bank Definition)                                                    object
Individuals using the Internet (% of population) - IT.NET.USER.ZS                               float64
dtype: object

In [25]:
df2.isnull().sum()*100/df.shape[0]

Country Name                                                                                     0.000000
Country Code                                                                                     0.000000
Year                                                                                             0.000000
Continent                                                                                        0.060846
World Regions (UN SDG Definition)                                                                0.060846
Regime Type (RoW Measure Definition)                                                             6.419227
Population, total - SP.POP.TOTL                                                                  5.506541
Access to electricity (% of population) - EG.ELC.ACCS.ZS                                         2.859751
Automated teller machines (ATMs) (per 100,000 adults) - FB.ATM.TOTL.P5                          30.483724
Cost of business start-up procedures, female (% of GNI per capita) - IC.REG.COST.PC.FE.ZS       23.912382
Cost of business start-up procedures, male (% of GNI per capita) - IC.REG.COST.PC.MA.ZS         23.912382
GDP (current US$) - NY.GDP.MKTP.CD                                                               1.247338
GDP per capita (current US$) - NY.GDP.PCAP.CD                                                    1.247338
Renewable electricity output (% of total electricity output) - EG.ELC.RNEW.ZS                   15.698205
Renewable energy consumption (% of total final energy consumption) - EG.FEC.RNEW.ZS              0.000000
Proportion of population covered by at least a 2G mobile network (%) - IT_MOB_2GNTWK - 9.c.1    28.536660
Proportion of population covered by at least a 3G mobile network (%) - IT_MOB_3GNTWK - 9.c.1    58.716155
Unemployment rate, male (%) - SL_TLF_UEM - 8.5.2                                                45.025859
Unemployment rate, women (%) - SL_TLF_UEM - 8.5.2                                               45.056282
Gini index (World Bank estimate) - SI.POV.GINI                                                  60.358990
Income Classification (World Bank Definition)                                                    0.060846
Individuals using the Internet (% of population) - IT.NET.USER.ZS                                9.157286
dtype: float64

In [23]:
df2[df2['Income Classification (World Bank Definition)'].isnull()==True]

,Country Name,Country Code,Year,Continent,World Regions (UN SDG Definition),Regime Type (RoW Measure Definition),"Population, total - SP.POP.TOTL",Access to electricity (% of population) - EG.ELC.ACCS.ZS,"Automated teller machines (ATMs) (per 100,000 adults) - FB.ATM.TOTL.P5","Cost of business start-up procedures, female (% of GNI per capita) - IC.REG.COST.PC.FE.ZS",...,GDP per capita (current US$) - NY.GDP.PCAP.CD,Renewable electricity output (% of total electricity output) - EG.ELC.RNEW.ZS,Renewable energy consumption (% of total final energy consumption) - EG.FEC.RNEW.ZS,Proportion of population covered by at least a 2G mobile network (%) - IT_MOB_2GNTWK - 9.c.1,Proportion of population covered by at least a 3G mobile network (%) - IT_MOB_3GNTWK - 9.c.1,"Unemployment rate, male (%) - SL_TLF_UEM - 8.5.2","Unemployment rate, women (%) - SL_TLF_UEM - 8.5.2",Gini index (World Bank estimate) - SI.POV.GINI,Income Classification (World Bank Definition),Individuals using the Internet (% of population) - IT.NET.USER.ZS
2945,Timor-Leste,TLS,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,415.085949,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2946,Timor-Leste,TLS,2001,NaN,NaN,NaN,NaN,25.6,NaN,NaN,...,529.793700,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df2[df2['Country Code']=='TLS']

,Country Name,Country Code,Year,Continent,World Regions (UN SDG Definition),Regime Type (RoW Measure Definition),"Population, total - SP.POP.TOTL",Access to electricity (% of population) - EG.ELC.ACCS.ZS,"Automated teller machines (ATMs) (per 100,000 adults) - FB.ATM.TOTL.P5","Cost of business start-up procedures, female (% of GNI per capita) - IC.REG.COST.PC.FE.ZS",...,GDP per capita (current US$) - NY.GDP.PCAP.CD,Renewable electricity output (% of total electricity output) - EG.ELC.RNEW.ZS,Renewable energy consumption (% of total final energy consumption) - EG.FEC.RNEW.ZS,Proportion of population covered by at least a 2G mobile network (%) - IT_MOB_2GNTWK - 9.c.1,Proportion of population covered by at least a 3G mobile network (%) - IT_MOB_3GNTWK - 9.c.1,"Unemployment rate, male (%) - SL_TLF_UEM - 8.5.2","Unemployment rate, women (%) - SL_TLF_UEM - 8.5.2",Gini index (World Bank estimate) - SI.POV.GINI,Income Classification (World Bank Definition),Individuals using the Internet (% of population) - IT.NET.USER.ZS
2945,Timor-Leste,TLS,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,415.085949,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2946,Timor-Leste,TLS,2001,NaN,NaN,NaN,NaN,25.600000,NaN,NaN,...,529.793700,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2947,Timor-Leste,TLS,2002,Asia,Eastern and South-Eastern Asia,Electoral Democracy,922699.0,23.925289,NaN,NaN,...,508.791166,0.0,48.252701,NaN,NaN,NaN,NaN,NaN,Low income,0.000000
2948,Timor-Leste,TLS,2003,Asia,Eastern and South-Eastern Asia,Electoral Democracy,947110.0,27.700000,NaN,NaN,...,517.786002,0.0,47.847000,38.0,NaN,NaN,NaN,NaN,Low income,0.000000
2949,Timor-Leste,TLS,2004,Asia,Eastern and South-Eastern Asia,Electoral Democracy,971889.0,30.750410,NaN,154.8,...,453.480696,0.0,44.037201,48.0,NaN,NaN,NaN,NaN,Low income,0.000000
2950,Timor-Leste,TLS,2005,Asia,Eastern and South-Eastern Asia,Electoral Democracy,995130.0,34.145988,NaN,125.4,...,464.524032,0.0,43.606300,50.0,NaN,NaN,NaN,NaN,Low income,0.099032
2951,Timor-Leste,TLS,2006,Asia,Eastern and South-Eastern Asia,Electoral Democracy,1016437.0,37.532433,NaN,88.0,...,446.457577,0.0,41.903099,54.0,NaN,NaN,NaN,NaN,Low income,0.500000
2952,Timor-Leste,TLS,2007,Asia,Eastern and South-Eastern Asia,Electoral Democracy,1036388.0,36.600000,NaN,13.1,...,523.737539,0.0,41.878502,69.0,NaN,NaN,NaN,27.8,Lower-middle income,1.000000
2953,Timor-Leste,TLS,2008,Asia,Eastern and South-Eastern Asia,Electoral Democracy,1055428.0,44.302406,2.015147,6.9,...,614.435755,0.0,39.720501,69.0,NaN,NaN,NaN,NaN,Lower-middle income,1.500000
2954,Timor-Leste,TLS,2009,Asia,Eastern and South-Eastern Asia,Electoral Democracy,1074286.0,47.698406,1.960800,5.8,...,676.618331,0.0,36.911301,NaN,NaN,NaN,NaN,NaN,Lower-middle income,2.000000
2955,Timor-Leste,TLS,2010,Asia,Eastern and South-Eastern Asia,Electoral Democracy,1093517.0,38.000000,2.387011,5.7,...,806.413526,0.0,34.815102,86.0,NaN,2.9,4.3,NaN,Lower-middle income,3.000000
2956,Timor-Leste,TLS,2011,Asia,Eastern and South-Eastern Asia,Electoral Democracy,1113154.0,54.543617,2.779867,5.0,...,947.510767,0.0,32.835701,NaN,NaN,NaN,NaN,NaN,Lower-middle income,4.000000
2957,Timor-Leste,TLS,2012,Asia,Eastern and South-Eastern Asia,Electoral Democracy,1133002.0,58.003590,3.453573,2.9,...,1013.042872,0.0,25.613701,92.0,NaN,NaN,NaN,NaN,Lower-middle income,7.000000
2958,Timor-Leste,TLS,2013,Asia,Eastern and South-Eastern Asia,Electoral Democracy,1153288.0,61.487671,3.068435,2.9,...,1210.039990,0.0,21.680201,NaN,NaN,11.2,10.6,NaN,Lower-middle income,11.000000
2959,Timor-Leste,TLS,2014,Asia,Eastern and South-Eastern Asia,Electoral Democracy,1174333.0,73.470000,5.258640,0.3,...,1232.453997,0.0,18.547001,96.0,96.0,NaN,NaN,28.7,Lower-middle income,17.500000
2960,Timor-Leste,TLS,2015,Asia,Eastern and South-Eastern Asia,Electoral Democracy,1196294.0,67.281534,6.630420,0.3,...,1332.791772,0.0,18.350100,96.0,96.0,NaN,NaN,NaN,Lower-middle income,23.000000
2961,Timor-Leste,TLS,2016,Asia,Eastern and South-Eastern Asia,Electoral Democracy,1219289.0,76.500000,6.171291,0.5,...,1353.746815,NaN,19.661600,96.5,96.5,3.3,6.3,NaN,Lower-middle income,25.246250
2962,Timor-Leste,TLS,2017,Asia,Eastern and South-Eastern Asia,Electoral Democracy,1243260.0,83.237549,11.993800,0.5,...,1286.406785,NaN,19.475100,96.5,96.5,NaN,NaN,NaN,Lower-middle income,27.492732
2963,Timor-Leste,TLS,2018,Asia,Eastern and South-Eastern Asia,Electoral Democracy,1267975.0,89.034103,11.661453,0.6,...,1230.225280,NaN,18.384800,96.5,96.5,NaN,NaN,NaN,Lower-middle income,NaN

Our data starts from 2000. Timor Leste had their first election in August 2001. It was recognised as independent in 2002. That might explain the missing data.

In [26]:
df2[df2['Country Name']=='Syrian Arab Republic']

,Country Name,Country Code,Year,Continent,World Regions (UN SDG Definition),Regime Type (RoW Measure Definition),"Population, total - SP.POP.TOTL",Access to electricity (% of population) - EG.ELC.ACCS.ZS,"Automated teller machines (ATMs) (per 100,000 adults) - FB.ATM.TOTL.P5","Cost of business start-up procedures, female (% of GNI per capita) - IC.REG.COST.PC.FE.ZS",...,GDP per capita (current US$) - NY.GDP.PCAP.CD,Renewable electricity output (% of total electricity output) - EG.ELC.RNEW.ZS,Renewable energy consumption (% of total final energy consumption) - EG.FEC.RNEW.ZS,Proportion of population covered by at least a 2G mobile network (%) - IT_MOB_2GNTWK - 9.c.1,Proportion of population covered by at least a 3G mobile network (%) - IT_MOB_3GNTWK - 9.c.1,"Unemployment rate, male (%) - SL_TLF_UEM - 8.5.2","Unemployment rate, women (%) - SL_TLF_UEM - 8.5.2",Gini index (World Bank estimate) - SI.POV.GINI,Income Classification (World Bank Definition),Individuals using the Internet (% of population) - IT.NET.USER.ZS
2850,Syrian Arab Republic,SYR,2000,Asia,Northern Africa and Western Asia,Electoral Autocracy,NaN,NaN,NaN,NaN,...,1177.629339,12.812785,2.0001,50.0,NaN,NaN,NaN,NaN,Lower-middle income,NaN
2851,Syrian Arab Republic,SYR,2001,Asia,Northern Africa and Western Asia,Electoral Autocracy,16766555.0,NaN,NaN,NaN,...,1258.447772,12.765798,2.0730,NaN,NaN,8.2,25.5,NaN,Lower-middle income,0.353759
2852,Syrian Arab Republic,SYR,2002,Asia,Northern Africa and Western Asia,Electoral Autocracy,17084628.0,86.600000,NaN,NaN,...,1263.255418,8.749509,1.6136,40.0,NaN,8.3,24.1,NaN,Lower-middle income,2.093101
2853,Syrian Arab Republic,SYR,2003,Asia,Northern Africa and Western Asia,Electoral Autocracy,17415214.0,92.661652,NaN,34.5,...,1253.395146,9.338706,1.9119,75.0,NaN,7.8,20.9,37.5,Lower-middle income,3.397973
2854,Syrian Arab Republic,SYR,2004,Asia,Northern Africa and Western Asia,Electoral Autocracy,17827827.0,92.402161,0.000000,34.2,...,1407.178266,13.015556,2.6021,90.0,NaN,NaN,NaN,NaN,Lower-middle income,4.321594
2855,Syrian Arab Republic,SYR,2005,Asia,Northern Africa and Western Asia,Electoral Autocracy,18361178.0,92.131004,0.000000,34.5,...,1571.738236,12.380135,2.1114,92.0,NaN,NaN,NaN,NaN,Lower-middle income,5.648106
2856,Syrian Arab Republic,SYR,2006,Asia,Northern Africa and Western Asia,Electoral Autocracy,19059257.0,99.505757,0.000000,21.1,...,1748.905772,10.581230,1.8264,95.0,NaN,5.3,23.8,NaN,Lower-middle income,7.832552
2857,Syrian Arab Republic,SYR,2007,Asia,Northern Africa and Western Asia,Electoral Autocracy,19878257.0,91.567375,0.000000,55.7,...,2032.623183,9.000569,1.5520,96.0,NaN,5.2,25.7,NaN,Lower-middle income,11.500000
2858,Syrian Arab Republic,SYR,2008,Asia,Northern Africa and Western Asia,Electoral Autocracy,20664037.0,91.287216,2.320712,18.2,...,NaN,6.993638,1.2572,96.0,NaN,8.4,24.2,NaN,Lower-middle income,14.000000
2859,Syrian Arab Republic,SYR,2009,Asia,Northern Africa and Western Asia,Electoral Autocracy,21205873.0,91.016487,7.131446,27.8,...,NaN,4.308673,0.9252,97.0,0.2,5.7,22.3,NaN,Lower-middle income,17.300000
2860,Syrian Arab Republic,SYR,2010,Asia,Northern Africa and Western Asia,Electoral Autocracy,21362541.0,92.700000,7.528963,38.1,...,NaN,5.584642,1.3634,97.5,0.5,6.2,22.0,NaN,Lower-middle income,20.700000
2861,Syrian Arab Republic,SYR,2011,Asia,Northern Africa and Western Asia,Electoral Autocracy,21081814.0,91.599182,7.868324,17.1,...,NaN,7.842809,1.7915,91.0,13.0,NaN,NaN,NaN,Lower-middle income,22.500000
2862,Syrian Arab Republic,SYR,2012,Asia,Northern Africa and Western Asia,Electoral Autocracy,20438861.0,90.842316,8.221736,15.6,...,NaN,9.228006,2.1733,91.0,13.0,NaN,NaN,NaN,Lower-middle income,24.300100
2863,Syrian Arab Republic,SYR,2013,Asia,Northern Africa and Western Asia,Closed Autocracy,19578466.0,90.138817,NaN,12.5,...,NaN,12.031764,3.1242,NaN,26.0,NaN,NaN,NaN,Lower-middle income,26.200000
2864,Syrian Arab Republic,SYR,2014,Asia,Northern Africa and Western Asia,Closed Autocracy,18710711.0,89.976257,NaN,14.4,...,NaN,11.107419,2.7032,NaN,26.0,NaN,NaN,NaN,Lower-middle income,28.090000
2865,Syrian Arab Republic,SYR,2015,Asia,Northern Africa and Western Asia,Closed Autocracy,17997411.0,89.829773,NaN,8.5,...,NaN,2.309714,0.6065,78.0,70.0,NaN,NaN,NaN,Lower-middle income,29.979797
2866,Syrian Arab Republic,SYR,2016,Asia,Northern Africa and Western Asia,Closed Autocracy,17465567.0,89.695343,NaN,8.9,...,NaN,NaN,1.1735,80.0,78.0,NaN,NaN,NaN,Lower-middle income,31.869627
2867,Syrian Arab Republic,SYR,2017,Asia,Northern Africa and Western Asia,Closed Autocracy,17095669.0,89.568954,NaN,7.9,...,NaN,NaN,0.8905,85.0,80.0,NaN,NaN,NaN,Lower-middle income,34.253402
2868,Syrian Arab Republic,SYR,2018,Asia,Northern Africa and Western Asia,Closed Autocracy,16945062.0,86.000000,NaN,7.6,...,NaN,NaN,0.9384,88.0,88.0,NaN,NaN,NaN,Lower-middle income,NaN

In [27]:
df2[df2['Country Name']=='Syrian Arab Republic'].isnull().sum()

Country Name                                                                                     0
Country Code                                                                                     0
Year                                                                                             0
Continent                                                                                        0
World Regions (UN SDG Definition)                                                                0
Regime Type (RoW Measure Definition)                                                             0
Population, total - SP.POP.TOTL                                                                  1
Access to electricity (% of population) - EG.ELC.ACCS.ZS                                         2
Automated teller machines (ATMs) (per 100,000 adults) - FB.ATM.TOTL.P5                          10
Cost of business start-up procedures, female (% of GNI per capita) - IC.REG.COST.PC.FE.ZS        3
Cost of business start-up procedures, male (% of GNI per capita) - IC.REG.COST.PC.MA.ZS          3
GDP (current US$) - NY.GDP.MKTP.CD                                                              11
GDP per capita (current US$) - NY.GDP.PCAP.CD                                                   11
Renewable electricity output (% of total electricity output) - EG.ELC.RNEW.ZS                    3
Renewable energy consumption (% of total final energy consumption) - EG.FEC.RNEW.ZS              0
Proportion of population covered by at least a 2G mobile network (%) - IT_MOB_2GNTWK - 9.c.1     3
Proportion of population covered by at least a 3G mobile network (%) - IT_MOB_3GNTWK - 9.c.1     9
Unemployment rate, male (%) - SL_TLF_UEM - 8.5.2                                                11
Unemployment rate, women (%) - SL_TLF_UEM - 8.5.2                                               11
Gini index (World Bank estimate) - SI.POV.GINI                                                  18
Income Classification (World Bank Definition)                                                    0
Individuals using the Internet (% of population) - IT.NET.USER.ZS                                2
dtype: int64

In [3]:
df[df.Continent=='Africa']

,Country Name,Country Code,Year,Access to electricity (% of population) - EG.ELC.ACCS.ZS,Adjusted net national income per capita (annual % growth) - NY.ADJ.NNTY.PC.KD.ZG,"Adjusted net savings, excluding particulate emission damage (% of GNI) - NY.ADJ.SVNX.GN.ZS",Adjusted savings: carbon dioxide damage (% of GNI) - NY.ADJ.DCO2.GN.ZS,Adjusted savings: natural resources depletion (% of GNI) - NY.ADJ.DRES.GN.ZS,Adjusted savings: net forest depletion (% of GNI) - NY.ADJ.DFOR.GN.ZS,Adjusted savings: particulate emission damage (% of GNI) - NY.ADJ.DPEM.GN.ZS,...,Gini index (World Bank estimate) - SI.POV.GINI,Income Classification (World Bank Definition),Individuals using the Internet (% of population) - IT.NET.USER.ZS,"Life expectancy at birth, total (years) - SP.DYN.LE00.IN","Population, total - SP.POP.TOTL",Regime Type (RoW Measure Definition),Rural population (% of total population) - SP.RUR.TOTL.ZS,Total natural resources rents (% of GDP) - NY.GDP.TOTL.RT.ZS,Urban population (% of total population) - SP.URB.TOTL.IN.ZS,World Regions (UN SDG Definition)
19,Angola,AGO,2000,NaN,NaN,-5.682707,2.378256,45.260942,0.0,1.990826,...,52.0,Low income,NaN,NaN,NaN,Closed Autocracy,49.913,NaN,NaN,Sub-Saharan Africa
20,Angola,AGO,2001,20.000000,18.457388,-21.156996,2.560090,29.555094,0.0,1.886837,...,NaN,Low income,0.136014,47.059,16945753.0,Closed Autocracy,48.726,38.434427,51.274,Sub-Saharan Africa
21,Angola,AGO,2002,26.383869,37.239379,5.021282,1.869649,18.789640,0.0,1.552627,...,NaN,Low income,0.270377,47.702,17519418.0,Closed Autocracy,47.539,27.693387,52.461,Sub-Saharan Africa
22,Angola,AGO,2003,27.465635,6.421468,5.148920,1.182633,15.722121,0.0,1.511743,...,NaN,Low income,0.370682,48.440,18121477.0,Closed Autocracy,46.355,24.048765,53.645,Sub-Saharan Africa
23,Angola,AGO,2004,28.536760,-8.470402,-1.547946,1.966160,29.984685,0.0,1.426805,...,NaN,Lower-middle income,0.464815,49.263,18758138.0,Closed Autocracy,45.173,40.193700,54.827,Sub-Saharan Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,Zimbabwe,ZWE,2014,32.300000,0.763955,-14.094023,2.310859,1.573499,0.0,1.426705,...,NaN,Low income,16.364740,58.410,13586710.0,Electoral Autocracy,67.496,5.531514,32.504,Sub-Saharan Africa
3283,Zimbabwe,ZWE,2015,33.700000,10.749009,-18.882831,2.381654,0.844003,0.0,1.492774,...,NaN,Low income,22.742818,59.534,13814642.0,Electoral Autocracy,67.615,4.561981,32.385,Sub-Saharan Africa
3284,Zimbabwe,ZWE,2016,39.676228,-0.716048,-11.199213,2.101249,0.823740,0.0,1.496494,...,NaN,Low income,23.119989,60.294,14030338.0,Electoral Autocracy,67.704,4.473632,32.296,Sub-Saharan Africa
3285,Zimbabwe,ZWE,2017,40.144283,28.172572,-12.700238,2.102515,1.300127,0.0,1.422511,...,44.3,Low income,24.400000,60.812,14236599.0,Electoral Autocracy,67.763,4.844665,32.237,Sub-Saharan Africa
3286,Zimbabwe,ZWE,2018,40.616360,61.556580,NaN,2.003068,2.085152,0.0,1.422511,...,NaN,Low income,25.000000,61.195,14438812.0,Electoral Autocracy,67.791,4.363782,32.209,Sub-Saharan Africa

In [4]:
df[df.Continent=='Africa'].isnull().sum()*100/df[df.Continent=='Africa'].shape[0]

Country Name                                                                                     0.000000
Country Code                                                                                     0.000000
Year                                                                                             0.000000
Access to electricity (% of population) - EG.ELC.ACCS.ZS                                         5.263158
Adjusted net national income per capita (annual % growth) - NY.ADJ.NNTY.PC.KD.ZG                16.573348
Adjusted net savings, excluding particulate emission damage (% of GNI) - NY.ADJ.SVNX.GN.ZS      21.052632
Adjusted savings: carbon dioxide damage (% of GNI) - NY.ADJ.DCO2.GN.ZS                           0.783875
Adjusted savings: natural resources depletion (% of GNI) - NY.ADJ.DRES.GN.ZS                     1.455767
Adjusted savings: net forest depletion (% of GNI) - NY.ADJ.DFOR.GN.ZS                            0.783875
Adjusted savings: particulate emission damage (% of GNI) - NY.ADJ.DPEM.GN.ZS                     2.911534
Automated teller machines (ATMs) (per 100,000 adults) - FB.ATM.TOTL.P5                          34.714446
Broad money (% of GDP) - FM.LBL.BMNY.GD.ZS                                                       3.247480
Children out of school (% of primary school age) - SE.PRM.UNER.ZS                               40.649496
Compulsory education, duration (years) - SE.COM.DURS                                            14.333707
Cost of business start-up procedures, female (% of GNI per capita) - IC.REG.COST.PC.FE.ZS       19.260918
Cost of business start-up procedures, male (% of GNI per capita) - IC.REG.COST.PC.MA.ZS         19.260918
Exports of goods and services (% of GDP) - NE.EXP.GNFS.ZS                                        5.487122
Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS                                        7.614782
GDP (current US$) - NY.GDP.MKTP.CD                                                               0.783875
GDP per capita (current US$) - NY.GDP.PCAP.CD                                                    0.783875
General government final consumption expenditure (% of GDP) - NE.CON.GOVT.ZS                     7.726764
Gross national expenditure (% of GDP) - NE.DAB.TOTL.ZS                                           7.614782
Gross savings (% of GDP) - NY.GNS.ICTR.ZS                                                       23.068309
Imports of goods and services (% of GDP) - NE.IMP.GNFS.ZS                                        5.487122
Inflation, consumer prices (annual %) - FP.CPI.TOTL.ZG                                           6.047032
Primary completion rate, total (% of relevant age group) - SE.PRM.CMPT.ZS                       31.019037
Proportion of seats held by women in national parliaments (%) - SG.GEN.PARL.ZS                   4.479283
Pupil-teacher ratio, primary - SE.PRM.ENRL.TC.ZS                                                24.300112
Renewable electricity output (% of total electricity output) - EG.ELC.RNEW.ZS                   15.789474
Renewable energy consumption (% of total final energy consumption) - EG.FEC.RNEW.ZS              0.000000
School enrollment, preprimary (% gross) - SE.PRE.ENRR                                           41.769317
School enrollment, primary (% gross) - SE.PRM.ENRR                                              17.133259
School enrollment, secondary (% gross) - SE.SEC.ENRR                                            37.737962
Trade (% of GDP) - NE.TRD.GNFS.ZS                                                                5.487122
Women Business and the Law Index Score (scale 1-100) - SG.LAW.INDX                               0.000000
Prevalence of undernourishment (%) - SN_ITK_DEFC - 2.1.1                                        25.755879
Proportion of population below international poverty line (%) - SI_POV_DAY1 - 1.1.1             84.770437
Proportion of population covered by at least a 2G mobile network (%) - IT_MOB_2GNTWK - 9.c.1    34.938410
Proportion of population covered by at least a 3G mobile network (%) - IT_MOB_3GNTWK - 9.c.1    64.389698
Proportion of population using basic drinking water services (%) - SP_ACS_BSRVH2O - 1.4.1       72.452408
Unemployment rate, male (%) - SL_TLF_UEM - 8.5.2                                                74.356103
Unemployment rate, women (%) - SL_TLF_UEM - 8.5.2                                               74.356103
Annual production-based emissions of carbon dioxide (CO2), measured in million tonnes            0.000000
Continent                                                                                        0.000000
Gini index (World Bank estimate) - SI.POV.GINI                                                  84.770437
Income Classification (World Bank Definition)                                                    0.000000
Individuals using the Internet (% of population) - IT.NET.USER.ZS                                9.854423
Life expectancy at birth, total (years) - SP.DYN.LE00.IN                                         5.263158
Population, total - SP.POP.TOTL                                                                  6.047032
Regime Type (RoW Measure Definition)                                                             0.000000
Rural population (% of total population) - SP.RUR.TOTL.ZS                                        0.783875
Total natural resources rents (% of GDP) - NY.GDP.TOTL.RT.ZS                                     6.606943
Urban population (% of total population) - SP.URB.TOTL.IN.ZS                                     6.047032
World Regions (UN SDG Definition)                                                                0.000000
dtype: float64