# Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import re

# Data

In [2]:
df = pd.read_csv("Data/final_gini_hdi.csv")

In [3]:
df.head()

,Unnamed: 0,country,country_code,year,continent,world_regions,regime_type,access_elec_percent,gdp,gdp_pc,...,exl_soc,labour_share,suffrage_f_y,domestic_movement,slave,suffrage,v2xeg_eqaccess,Composite_index,Rank,total_population
0,0,Aruba,ABW,2000,North America,Latin America and Caribbean,NaN,91.660398,1.873453e+09,20617.75047,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90866.0
1,1,Aruba,ABW,2001,North America,Latin America and Caribbean,NaN,100.000000,1.920112e+09,20670.36701,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92892.0
2,2,Aruba,ABW,2002,North America,Latin America and Caribbean,NaN,100.000000,1.941341e+09,20436.88713,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94992.0
3,3,Aruba,ABW,2003,North America,Latin America and Caribbean,NaN,100.000000,2.021229e+09,20833.97636,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97016.0
4,4,Aruba,ABW,2004,North America,Latin America and Caribbean,NaN,100.000000,2.228492e+09,22568.37499,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98744.0

## Tidying Up

For workability...

In [4]:
# Drop unecessary column
df.drop(columns = 'Unnamed: 0', inplace=True)

In [5]:
df.columns

Index(['country', 'country_code', 'year', 'continent', 'world_regions',
       'regime_type', 'access_elec_percent', 'gdp', 'gdp_pc',
       'renewable_energy_consumption_percent',
       'renewable_energy_output_percent', 'wbl_index_score',
       'proportion_women_seats_parliament', 'income_classification',
       'percent_using_internet', 'power_soec', 'power_f', 'suffrage_f_x',
       'dmr_f', 'new_gini', 'hdi_value', 'gdp_g', 'gdp_pc_g', 'pol_gen',
       'exl_gen', 'exl_eco', 'exl_geo', 'exl_pol', 'exl_soc', 'labour_share',
       'suffrage_f_y', 'domestic_movement', 'slave', 'suffrage',
       'v2xeg_eqaccess', 'Composite_index', 'Rank', 'total_population'],
      dtype='object')

In [6]:
df.columns = df.columns.str.lower()
#df.columns = df.columns.str.replace(r'([A-Z]){2}\.([A-Z]){3}\.([A-Z]){4}\.([A-Z])+', '', regex=True).str.replace(r'([A-Z]){2}\.([A-Z]){3}\.([A-Z]){4}', '', regex=True)
#df.columns = df.columns.str.replace('(','').str.replace(')','').str.replace('%', '').str.replace('$', '').str.lower().str.replace(' - ', '').str.replace('  ', '_').str.replace(' ', '_').str.replace('.','_').str.replace(',','')

In [7]:
# Check columns
df.columns

Index(['country', 'country_code', 'year', 'continent', 'world_regions',
       'regime_type', 'access_elec_percent', 'gdp', 'gdp_pc',
       'renewable_energy_consumption_percent',
       'renewable_energy_output_percent', 'wbl_index_score',
       'proportion_women_seats_parliament', 'income_classification',
       'percent_using_internet', 'power_soec', 'power_f', 'suffrage_f_x',
       'dmr_f', 'new_gini', 'hdi_value', 'gdp_g', 'gdp_pc_g', 'pol_gen',
       'exl_gen', 'exl_eco', 'exl_geo', 'exl_pol', 'exl_soc', 'labour_share',
       'suffrage_f_y', 'domestic_movement', 'slave', 'suffrage',
       'v2xeg_eqaccess', 'composite_index', 'rank', 'total_population'],
      dtype='object')

## Actual Cleaning

Filling nulls mainly

In [8]:
# Check nulls in df
df.isnull().sum()

country                                    0
country_code                               0
year                                       0
continent                                  2
world_regions                              2
regime_type                              211
access_elec_percent                       94
gdp                                       41
gdp_pc                                    41
renewable_energy_consumption_percent       0
renewable_energy_output_percent          516
wbl_index_score                           76
proportion_women_seats_parliament        225
income_classification                      2
percent_using_internet                   301
power_soec                               190
power_f                                  190
suffrage_f_x                             190
dmr_f                                    190
new_gini                                1624
hdi_value                                142
gdp_g                                    748
gdp_pc_g                                 748
pol_gen                                  748
exl_gen                                  748
exl_eco                                  748
exl_geo                                  748
exl_pol                                  748
exl_soc                                  748
labour_share                             748
suffrage_f_y                             748
domestic_movement                        748
slave                                    748
suffrage                                 748
v2xeg_eqaccess                           748
composite_index                          748
rank                                     748
total_population                           7
dtype: int64

In [9]:
# Check nulls in continent
df[df.continent.isnull()]

,country,country_code,year,continent,world_regions,regime_type,access_elec_percent,gdp,gdp_pc,renewable_energy_consumption_percent,...,exl_soc,labour_share,suffrage_f_y,domestic_movement,slave,suffrage,v2xeg_eqaccess,composite_index,rank,total_population
2945,Timor-Leste,TLS,2000,NaN,NaN,NaN,NaN,367087900.0,415.085949,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,884366.0
2946,Timor-Leste,TLS,2001,NaN,NaN,NaN,25.6,477457500.0,529.793700,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,901214.0

In [10]:
# Check unique values in continent
df.continent.unique()

array(['North America', 'Africa', 'Europe', 'Asia', 'South America',
       'Oceania', nan], dtype=object)

In [11]:
# Fill nulls in continent
df.continent.fillna('Asia', inplace=True)

In [12]:
df[df.world_regions.isnull()]

,country,country_code,year,continent,world_regions,regime_type,access_elec_percent,gdp,gdp_pc,renewable_energy_consumption_percent,...,exl_soc,labour_share,suffrage_f_y,domestic_movement,slave,suffrage,v2xeg_eqaccess,composite_index,rank,total_population
2945,Timor-Leste,TLS,2000,Asia,NaN,NaN,NaN,367087900.0,415.085949,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,884366.0
2946,Timor-Leste,TLS,2001,Asia,NaN,NaN,25.6,477457500.0,529.793700,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,901214.0

In [13]:
# Check for correct region
df[df['country'] == 'Timor-Leste']['world_regions']

2945                               NaN
2946                               NaN
2947    Eastern and South-Eastern Asia
2948    Eastern and South-Eastern Asia
2949    Eastern and South-Eastern Asia
2950    Eastern and South-Eastern Asia
2951    Eastern and South-Eastern Asia
2952    Eastern and South-Eastern Asia
2953    Eastern and South-Eastern Asia
2954    Eastern and South-Eastern Asia
2955    Eastern and South-Eastern Asia
2956    Eastern and South-Eastern Asia
2957    Eastern and South-Eastern Asia
2958    Eastern and South-Eastern Asia
2959    Eastern and South-Eastern Asia
2960    Eastern and South-Eastern Asia
2961    Eastern and South-Eastern Asia
2962    Eastern and South-Eastern Asia
2963    Eastern and South-Eastern Asia
Name: world_regions, dtype: object

In [14]:
# Fill nulls in world region
df.world_regions.fillna('Eastern and South-Eastern Asia', inplace=True)

In [15]:
# Check which countries have nulls
df[df.regime_type.isnull()]['country'].unique()

array(['Aruba', 'Antigua and Barbuda', 'Bahamas, The', 'Belize',
       'Brunei Darussalam', 'Dominica', 'St. Lucia', 'Macao SAR, China',
       'West Bank and Gaza', 'Timor-Leste', 'Tonga',
       'St. Vincent and the Grenadines'], dtype=object)

In [16]:
# Check unique values for this column
df.regime_type.unique()

array([nan, 'Closed Autocracy', 'Electoral Autocracy',
       'Electoral Democracy', 'Liberal Democracy'], dtype=object)

In [17]:
# Get index list for Electoral Democracy countries where regime is null
index = df.index

condition = (df['country'] == 'Antigua and Barbuda') | (df['country'] == 'Aruba') | (df['country'] == 'Bahamas, The') | (df['country'] == 'Belize') | (df['country'] == 'Dominica') | (df['country'] == 'St. Lucia') | (df['country'] == 'St. Vincent and the Grenadines') | (df['country'] == 'Timor-Leste') & (df['regime_type'].isnull())

elecdem_regime = index[condition]

In [18]:
# Fill nulls in regime for with Electoral Democracy
df.loc[elecdem_regime, 'regime_type'] = df.loc[elecdem_regime, 'regime_type'].fillna('Electoral Democracy')

In [19]:
# Get index list for Closed Autocracy countries where regime is null
index = df.index

condition = (df['country'] == 'Macao SAR, China') | (df['country'] == 'Brunei Darussalam') & (df['regime_type'].isnull())

closed_regime = index[condition]

In [20]:
# Fill nulls in regime for with Closed Autocracy
df.loc[closed_regime, 'regime_type'] = df.loc[closed_regime, 'regime_type'].fillna('Closed Autocracy')

In [21]:
# Nulls for population were merged into the dataframe
# ReCheck remaining nulls
df[df['total_population'].isnull()]['country'].value_counts().sort_values(ascending=False)

Eritrea    7
Name: country, dtype: int64

## New CSV

In [22]:
## New csv to be used in Tableau
#df.to_csv('for_tableau.csv')